@model VenteMobile.Models.Critique

@{
    ViewData["Title"] = "Delete";
}


<h3 style="text-align:center"><B> Supprimer une Critique</B></h3>

<h3>Voulez vous vraiment le supprimer?</h3>
<div>
    <h4>Critique</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CritiqueText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CritiqueText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CritiqueEtoiles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CritiqueEtoiles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CritiqueNom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CritiqueNom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone.TelephoneId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CritiqueId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Cliquer ici pour revenir", "Details", "Telephones", new { id = Model.Telephone.TelephoneId })
    </form>
</div>
