@model IEnumerable<VenteMobile.Models.Critique>

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align:center"><B> Liste Des Critiques</B></h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CritiqueText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CritiqueEtoiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CritiqueNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CritiqueText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CritiqueEtoiles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CritiqueNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone.TelephoneModel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CritiqueId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CritiqueId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CritiqueId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
