@model IEnumerable<VenteMobile.Models.Manufacturier>

@{
    ViewData["Title"] = "Index";
}

    <h6>Liste Des Manufacturiers</h6>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ManufacturierMarque)*@
                Marque
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ManufacturierSiteWeb)*@
                Site Web
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ManufacturierOrigine)*@
                Siège social
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturierMarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturierSiteWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturierOrigine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManufacturierId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.ManufacturierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManufacturierId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
