@model VenteMobile.Models.Telephone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Telephone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneCout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneCout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneCouleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneCouleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturier.ManufacturierId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TelephoneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
