
@model PagedList.IPagedList<VenteMobile.Models.Telephone>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewData["Title"] = "Index";
}

<div class="container jumbotron alert-success text-center table-bordered" style="position:relative ; top:50px; z-index:100; border-color:black;">
    <h3 style="text-align:center"><B> Liste Des Téléphones</B></h3>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus"></span>Ajouter
        </a>
    </p>
</div>

<div class="row container form-inline">
    <div class="pull-right input-group" style="margin-top:22px;">
        @using (Html.BeginForm("Index", "Telephones", FormMethod.Get))
        {

            @Html.TextBox("searchString", ViewBag.currentFilter as string, new
            {
                @class = "form-control",
                @placeholder = "Rechercher"
            })

            <button type="submit" class="btn input-group-addon"><i class="glyphicon glyphicon-search" style="padding:3px;"></i></button>

        }
    </div>
</div>
<div class="row container form-inline">
    <span class="input-group ">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</span>
</div>

@if (Model.Count == 0)
{
    <div class="alert-danger  jumbotron conainter table-bordered text-center" style="margin-top:60px; margin-bottom:10px;">
        Aucun telephone disponible avec le filtre n'a &eacute;t&eacute; utilis&eacute;
    </div>
    <a href="@Url.Action("Index","Telephones")" class="btn  btnStyle" style="background-color:cornflowerblue; width:120px;">Back to List</a>

    return;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.NomSortParm })

            </th>
            <th style="text-align:center">
                @Html.ActionLink("Prix", "Index", new { sortOrder = ViewBag.NomSortParm })

            </th>
            <th style="text-align:center">
                @Html.ActionLink("Couleur", "Index", new { sortOrder = ViewBag.NomSortParm })

            </th>
            <th style="text-align:center">
                @Html.ActionLink("Fabricant", "Index", new { sortOrder = ViewBag.NomSortParm })

            </th>
            <th style="text-align:center">
                Opérations
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.TelephoneModel)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.TelephoneCout)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.TelephoneCouleur)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Manufacturier.ManufacturierMarque)
                </td>
                <td style="text-align:center">
                    @*<a asp-action="Edit" asp-route-id="@item.TelephoneId">Modifier</a> |*@
                    <a href="@Url.Action("Edit",new {id = item.TelephoneId})" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a> |
                    <a href="@Url.Action("Details",new {id = item.TelephoneId})" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-list"></span>
                    </a> |
                    @*<a asp-action="Details" asp-route-id="@item.TelephoneId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TelephoneId">Supprimer</a>*@
                    <a href="@Url.Action("Delete", new {id = item.TelephoneId})" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
