@model IEnumerable<VenteMobile.Models.Telephone>

@{
    ViewData["Title"] = "Index";
}

<h6>Liste des Téléphone</h6>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.TelephoneModel)*@
                Modèle
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TelephoneCout)*@
                Prix
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TelephoneCouleur)*@
                Couleur
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Manufacturier)*@
                Fabricant
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneCout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneCouleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturier.ManufacturierMarque)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TelephoneId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.TelephoneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TelephoneId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
