@model VenteMobile.Models.Vendeur

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendeur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendeurNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendeurNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendeurAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendeurAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendeurNoTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendeurNoTel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VendeurId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
