@model VenteMobile.Models.Vendeur

@{
    ViewData["Title"] = "Delete";
}



<h3>Voulez vous vraiment le supprimer?</h3>

<hr />
<div style="margin-top:60px; margin-bottom:10px;">
    <h4 class="text-center table-bordered alert-danger" style="border-radius:5px; border-color:red; padding:10px;">Voulez vous vraiment supprimer ce vendeur?</h4>
    <dl class="dl-horizontal table-bordered jumbotron alert-danger " style="color:black;border-color:red;">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.VendeurNom)*@
            Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendeurNom)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.VendeurAddress)*@
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendeurAddress)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.VendeurNoTel)*@
            NoTel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendeurNoTel)
        </dd>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" style="width:120px; background-color:red;" class="btn-danger btnStyle" /> |
                <a class="btn btn-success btnStyle" style="width:120px; background-color:cornflowerblue;" href="@Url.Action("Index", "Vendeurs")">Retour </a>
            </div>
        }

</div>

</dl>