@model IEnumerable<VenteMobile.Models.Vendeur>

@{
    ViewData["Title"] = "Index";
}

<h6>Liste Des Vendeurs</h6>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.VendeurNom)*@
                Nom
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.VendeurAddress)*@
                Address
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.VendeurNoTel)*@
                NoTel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendeurNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendeurAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendeurNoTel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendeurId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.VendeurId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendeurId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
