@model IEnumerable<VenteMobile.Models.Vendeur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendeurNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendeurAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendeurNoTel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendeurNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendeurAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendeurNoTel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendeurId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendeurId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendeurId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
