@model IEnumerable<VenteMobile.Models.Vendeur>

@{
    ViewData["Title"] = "Index";
}

<h6>Liste Des Vendeurs</h6>

<p>
    <a asp-action="Create">Ajouter  <img src="~/images/create.png" alt="" style=" height: 40px;width: 40px;" /></a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.VendeurNom)*@
                Nom
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.VendeurAddress)*@
                Address
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.VendeurNoTel)*@
                NoTel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendeurNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendeurAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendeurNoTel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VendeurId">
                        <img src="~/images/edit.png" alt="" style=" height: 50px;width: 50px;" />

                    </a>
                    <a asp-action="Details" asp-route-id="@item.VendeurId">
                        <img src="~/images/details.png" alt="" style=" height: 40px;width: 40px;" />
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.VendeurId"> <img src="~/images/sup.png" alt="" style=" height: 40px;width: 40px;" /></a>
                </td>

            </tr>
        }
    </tbody>
</table>
